body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #1e293b;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

/* Animação de erro */
.erro {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

input {
    padding: .5rem;
    border: 0;
    border-radius: 4px;
    margin-bottom: 1rem;
}

input:focus {
    outline: 2px solid #f59e0b;
}

button {
    padding: .5rem;
    border: 0;
    border-radius: .25rem;
    background-color: #f59e0b;
    cursor: pointer;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.8;
}
