body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    gap: 50px;
    text-align: center;
}

.bandeira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legenda {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}